.avatar {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.initial {
  font-weight: 700 !important;
  color: #fff !important;
  line-height: 1 !important;
}
